@model IEnumerable<TravelAgency.Models.TravelAgency.Vacation>
@{
    ViewBag.Title = "VacationSearch";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="css/main.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


@foreach (var item in Model)
{
    <div class="col s12 m4">
        <div class="card" style="height:550px">
            <div class="card-image">
                <img src="@item.ImageUrl" alt="" style="height: 300px; overflow: hidden">
                <span class="card-title" style="font-weight:bolder">@Html.ActionLink(item.City + ", " + item.Country, "VacationDetails", "Home", new { id = item.VacationId }, new { @class = "white-text" })</span>
            </div>
            <div class="card-content">
                @item.ShortDescription
            </div>
        </div>
    </div>
}
