@model TravelAgency.Models.TravelAgency.Vacation

@{
    ViewBag.Title = "VacationDetails";
}


<link rel="stylesheet" href="~/Content/vacationDetails.css">
<style>
    .view-source1 {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }

    .view-source2 {
        position: fixed;
        display: block;
        right: 80px;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }
</style>
<div class="row">
    <div class="demo-ribbon teal darken-1"></div>
    <div class="demo-layout">
        <main class="demo-main">
            <div class="demo-container">
                <div class="col s12 m4" style="width:80%; margin-left:10%">
                    <div class="card">
                        <div class="card-image">
                            <img src="@Model.ImageUrlDetailed" alt="" style="height: 700px; overflow: hidden" class="materialboxed">
                            <span class="card-title title-name" style="font-weight:bolder">@Model.City, @Model.Country</span>
                        </div>
                        <div class="card-content">
                            @Model.LongDescription
                        </div>
                        @if (Model.Reviews != null && Model.Reviews.Count() > 0)
                        {
                            <ul class="collection">
                                @foreach (var review in Model.Reviews)
                                {
                                    <li class="collection-item avatar">
                                        @{
                                            if (review.Rating <= 2)
                                            {
                                                <i class="material-icons circle">sentiment_very_dissatisfied</i>
                                            }
                                            else if (review.Rating <= 4)
                                            {
                                                <i class="material-icons circle">sentiment_dissatisfied</i>
                                            }
                                            else if (review.Rating <= 6)
                                            {
                                                <i class="material-icons circle">sentiment_neutral</i>
                                            }
                                            else if (review.Rating <= 8)
                                            {
                                                <i class="material-icons circle">sentiment_satisfied</i>
                                            }
                                            else
                                            {
                                                <i class="material-icons circle">sentiment_very_satisfied</i>
                                            }
                                        }
                                        <span class="title">@review.ReviewerName</span>
                                        <p>
                                            @review.Description
                                        </p>
                                        <a href="#!" class="secondary-content" style="cursor: default"><span style="position:absolute; top: 1px; right: 25px;">@Math.Round(review.Rating, 1)</span><i class="material-icons">grade</i></a>
                                    </li>
                                }
                            </ul>
                        }

                        <div id="writeReview"></div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@using (Ajax.BeginForm("WriteReviewPartial", "Home",
new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    UpdateTargetId = "writeReview"
}))
{
    <a href="#" class="waves-effect waves-light btn view-source2" id="newReview">Write a review</a>
    @Html.HiddenFor(model => model.VacationId)
}

<a href="@Url.Action("VacationSearch", "Home")" class="waves-effect waves-light btn view-source1">Back</a>



@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
